main {
  margin-left: 40px;
  margin-right: 40px;
}

body {
  margin: 0px;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.logo {
  font-size: 50pt;
  text-align: center;
  font-family: "Inria Serif";
}

img {
  width: 906px;
  height: 87px;
}

h2 {
  text-align: left;
  font-family: "Inria Serif";
}

.Name-and-Surname {
  display: flex;
  justify-content: space-between;
}
.Email-Phone {
  display: flex;
  justify-content: space-between;
}
.Date-and-CVV {
  display: flex;
  gap: 100px;
}

.First-Name-input {
  height: 54px;
  border-radius: 10px;
  width: 430px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.Surname-input {
  height: 54px;
  border-radius: 10px;
  width: 430px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.Adress-input {
  height: 54px;
  border-radius: 10px;
  width: 430px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.Email-input {
  height: 54px;
  border-radius: 10px;
  width: 430px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.Phone-input {
  height: 54px;
  border-radius: 10px;
  width: 430px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.card-number-input {
  height: 54px;
  border-radius: 10px;
  width: 471px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.card-holder-input {
  height: 54px;
  border-radius: 10px;
  width: 471px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.Date-input {
  height: 54px;
  border-radius: 10px;
  width: 182px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.cvv-input {
  height: 54px;
  border-radius: 10px;
  width: 182px;
  margin-top: 22px;
  margin-bottom: 22px;
}

textarea:focus,
input:focus {
  font-family: "Inria Serif";
  font-size: 20px;
}
input,
select,
textarea {
  font-family: "Inria Serif";
  font-size: 20px;
}

a {
  background-color: black;
  border-radius: 50px;
  padding: 2%;
  color: white;
  margin-top: 15px;
  padding-left: 101px;
  padding-right: 101px;
  font-size: 16px;

  margin: 20px;
}

@media screen and (max-width: 600px) {
  body {
    padding: 20px;
  }
  form {
    width: 100%;
    box-sizing: border-box;
  }
  .Name-and-Surname {
    display: block;
    box-sizing: border-box;
  }
  .Email-Phone {
    display: block;
    box-sizing: border-box;
  }
  .Date-and-CVV {
    display: block;
    box-sizing: border-box;
  }
}
